.navbar-brand {
  text-shadow: 1.5px 1.5px;
}

tr {
  text-align: center;
}

.repo {
  text-align: center;
  font-size: 30px;
}

.repo a {
  text-decoration: none;
  color: #ffffff;
}

.table {
  font-size: 10px;
}
